main {
    display: flex;
    border: 1px dotted red;
    flex-wrap : wrap;
    justify-content: flex-start;
  }
  
div {
    border: 1px solid green;
}
  
* {
    margin: 10px;
    padding: 10px;
}

#box1 {
    flex-grow : 0;
    flex-basis : 50px;
}
#box2 {
    flex-grow : 1;
}
#box3 {
    flex-grow : 2;
}