main {
    display: flex;
    border: 1px dotted red;
    flex-direction: row;      /*자식 가로세로정해주기*/
    align-items: flex-end;             /*자식 문단정렬*/
    flex-wrap : wrap-reverse;            /*자식 줄바꿈여부*/
    justify-content: flex-start;     /*자식요소 크게 좌우정렬*/
  }
  
div {
    border: 1px solid green;
}
  
* {
    margin: 10px;
    padding: 10px;
}

#box1 {
    flex-grow : 0;
    flex-basis : 50px;
}
#box2 {
    flex-grow : 1;
}
#box3 {
    flex-grow : 2;
}