* {
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

body {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height : 100vh;
    margin : 0;
    padding : 0;
    background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxODAzMTBfMjUw/MDAxNTIwNjA4MjM2NzAx.M0rjer5hC7K4A_UEj7YjcsLtahQRPvRw4G9oiJzGckEg.pFjyI_eJ2Vw0NEb8JJPlB2SKdpm5K0_5YfoGuvZhgmog.GIF.ertyupoq/9c3ad559f203d3e450cdefce9e6ca4d3.gif?type=w2'); 
    background-size : cover;
}

.calculator{
    width: 600px;
    height: 700px;
    border-radius : 60% 60% 40% 40% ;
    border : 5px solid white;
    background-image : url(http://www.apparelnews.co.kr/upfiles/manage/202206/4fd7f2bdcc5d78098b6dcea358cf2af7.jpg);
    /* background-image : url(http://www.apparelnews.co.kr/upfiles/manage/202206/4fd7f2bdcc5d78098b6dcea358cf2af7.jpg); */
    background-size : contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.box1{
    background-color: white;
    width: 290px;
    height: 290px;
    margin: 10px 10px 0px 10px;
    border : 3px solid black;
    border-radius : 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-image: url(https://velog.velcdn.com/images/nowaveosu/post/287394cf-9312-4b96-acab-d78cf8233d22/image.jpg);
    background-size : 100% 100%;
}
.box2{
    background-color: #FBE5E7;
    width: 290px;
    height: 300px;
    margin: 8px 10px 10px 10px;
    border-radius : 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.miniBox{
    display: flex;
    background-color: #D6ABFA;
    border-radius : 10px;
    width: 280px;
    height: 100px;
    margin : 2px;
    flex-direction: row;
}
.confirm{
    background-color: #A77FFF;
    border-radius : 30px;
    width: 50px;
    border-color : #A77FFF;
    height: 40px;
    margin : 6px;
    flex-grow : 1;
}
.num{
    background-color: #FFC0CB;
    border-radius : 30px;
    border-color : #FFC0CB;
    width: 50px;
    height: 40px;
    margin : 6px;
    flex-grow : 1;
}

.num:active{
    background-color:#f8899b ;
}

.operator{
    background-color: black;
    border-radius : 30px;
    color: white;
    width: 50px;
    height: 40px;
    margin : 6px;
   
}
.zero{
    background-color: #FFC0CB;
    border-radius : 30px;
    border-color : #FFC0CB;
    width: 50px;
    height: 40px;
    margin : 6px;
    flex-grow : 10;
}